[submodule "dependencies/tinyfiledialogs"]
	path = marathon/external/tinyfiledialogs
	url = https://github.com/SamP-S/libtinyfiledialogs
[submodule "dependencies/la"]
	path = marathon/external/la
	url = git@github.com:SamP-S/LA.git
[submodule "dependencies/imguizmo"]
	path = marathon/external/imguizmo
	url = git@github.com:SamP-S/libimguizmo.git
[submodule "marathon/external/tinygltf"]
	path = marathon/external/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "marathon/external/entt"]
	path = marathon/external/entt
	url = git@github.com:skypjack/entt.git
