[submodule "dependencies/tinyfiledialogs"]
	path = dependencies/tinyfiledialogs
	url = https://github.com/SamP-S/libtinyfiledialogs
[submodule "dependencies/la"]
	path = dependencies/la
	url = git@github.com:SamP-S/LA.git
[submodule "dependencies/imguizmo"]
	path = dependencies/imguizmo
	url = git@github.com:SamP-S/libimguizmo.git
